---

title: search
author: iray_tno
changefreq: 'weekly'
priority: 0.0

---

%div(class="article")
  %h2 #{link_to("記事を検索", @item.path)}
  %div.inner
    %script
      ="(function() {"
      ="  var cx = '002007483748372081326:wgttalqgguu';"
      ="  var gcse = document.createElement('script');"
      ="  gcse.type = 'text/javascript';"
      ="  gcse.async = true;"
      ="  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +"
      ="      '//cse.google.com/cse.js?cx=' + cx;"
      ="  var s = document.getElementsByTagName('script')[0];"
      ="  s.parentNode.insertBefore(gcse, s);"
      ="})();"
    ='<gcse:search></gcse:search>'