---
title: sitemap
---

= xml_sitemap :items => @items.reject do |i|
  i[:is_hidden] ||
  i.binary? ||
  i.identifier == '/stylesheets/' ||
  i.identifier == '/sitemap/' ||
  i.identifier == '/atom/'
