@import "compass/reset"
@import "compass/typography/links/link-colors"
@import "compass/typography/links/hover-link"
@import "compass/css3/box-sizing"
@import "compass/utilities/tables/borders"
@import "susyone"

/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/


@include border-box-sizing

$total-columns: 12
/*
  a 12-column grid */

$column-width: 4.7em
/*
  each column is 4em wide */

$gutter-width: 0.5em
/*
  1em gutters between columns */

$grid-padding: $gutter-width
/*
  grid-padding equal to gutters */

$border-color: #000

$categories: Development Tweets

$Science-color: #7bb
$Art-color: #b77
$Game-color: #7b7
$Language-color: #bb7
$SocialActivities-color: #77b


*
  margin: 0
  
html
  overflow-y: scroll

body
  background: #fff

a
  +link-colors(#333, #fff, #fff, #333, #fff)
  text-decoration: none

#container
  +container
  background-color: #fff
  @include container
  border: 1px solid $border-color

#header
  @include span-columns(12,12)
  margin: 1px 0px 1px 0px
  border: 1px solid $border-color
  height: 5em
  background-image: url("/img/header.png")
  background-repeat: no-repeat
  background-size: contain
  position: relative
  h1
    color: #000
    text-indent: 3px
    font-size: 2.2em
    position: absolute
    bottom: 0
  a
    +link-colors(#333, #bbb, #bbb, #333, #bbb)

#header_guide
  @include span-columns(12,12)
  //border: 1px solid $border-color
  
  .category
    @include span-columns(2, 12)
    //border: 1px solid $border-color
    //margin: 1px 0px 1px 0px
    background-color: #bbb
    h2
      //border-top: 1px solid #fff
      text-align: center
      color: #000
      font-size: 1.2em
      line-height: 1.1
      background-color: #bbb
      a
        display: block
        +link-colors(#333, #fff, #fff, #333, #fff)  


#main
  @include span-columns(8 alpha, 12)

  .article
    border: 1px solid $border-color
    margin: 1px 0px 1px 0px

    h2
      font-size: 1.5em
      text-indent: 3px
      line-height: 1.1
      background-color: #bbb

    h3
      font-size: 0.7em
      line-height: 1.1
      background-color: #eeeeee
    
    .inner
      margin: 5px 5px 5px 5px
      a
        +link-colors(#333, #bbb, #bbb, #333, #bbb)
        text-decoration: underline

      blockquote
        border-left: solid 5px #ddd
        background: #eee
        padding: 5px
        margin: 5px 5px 10px
        z-index: 1
        position: relative

        &:before
          font-size: 6em
          content: "“"
          z-index: -1
          position: absolute
          left: 0
          top: 0
          color: #ddd

        &:after
          font-size: 6em
          content: "”"
          z-index: -1
          position: absolute
          right: 0
          bottom: -0.66em
          color: #ddd

      p
        margin-top: 0.3em
        margin-bottom: 0.3em
        margin-left: 0.9em
        text-indent: 0.5em
        line-height: 1.4
      
      strong
        @include background(linear-gradient(transparent 60%, #fdd 60%))

      ul, ol
        margin-left: 1.4em
        margin-bottom: 0.3em
        padding-left: 0.5em
        line-height: 1.4

      ul
        list-style-type: square

      ol
        list-style-type: lower-alpha

      h4, h5, h6
        line-height: 1.1
        margin-top: 0.4em
        margin-bottom: 0.2em  

      h4
        font-size: 1.5em
        border-left: solid 7px #ddd
        border-bottom: dashed 1px #ddd

      h5
        margin-left: 0.3em
        font-size: 1.2em
        border-bottom: double 3px #ddd

      h6
        margin-left: 0.6em
        font-size: 1em
        border-bottom: dashed 1px #ddd
        &:before
          color: #ddd
          content: "+"
        
      code
        white-space: nowrap
        border: solid 1px #ddd
        background: #eee
        font-size: 0.9em
        font-family: Consolas, 'Courier New', Courier, Monaco, monospace

      .CodeRay
        width: 100%
        margin-top: 0.3em
        margin-bottom: 0.5em
        font-family: Consolas, 'Courier New', Courier, Monaco, monospace
        font-size: 0.83em
        @include outer-table-borders(1px, #fff)
        @include inner-table-borders(1px, #fff)  

        td.line-numbers
          width: 1.7em
          text-align: right
          background-color: #c3e2e2  

        td.code
          background-color: #f1f1f1

        pre
          white-space: -moz-pre-wrap
          white-space: -pre-wrap
          white-space: -o-pre-wrap
          white-space: pre-wrap
          word-wrap: break-word


#side
  @include span-columns(4 omega, 12)

  #side_upper_ads
    @include span-columns(4, 4)
    border: 1px solid $border-color
    margin: 1px 0px 1px 0px
    background-color: #fff
    text-align: center

  #side_lower_ads
    @include span-columns(4, 4)
    border: 1px solid $border-color
    margin: 1px 0px 1px 0px
    background-color: #fff
    text-align: center

  #top_category
    @include span-columns(4, 4)
    border: 1px solid $border-color
    margin: 1px 0px 1px 0px
    background-color: #fff

    h2
      color: #000
      font-size: 1.5em
      text-indent: 3px
      line-height: 1.1
      background-color: #bbb
      a
        display: block
        +link-colors(#333, #fff, #fff, #333, #fff)
    
    h3
      font-size: 1.2em
    
    ul, ol
      list-style-position: inside
      margin-left: 0.3em
      
    ul
      list-style-type: square

    ol
      list-style-type: upper-alpha

    a
      +link-colors(#333, #bbb, #bbb, #333, #bbb)

    #tags
      @include span-columns(2 alpha, 4)

    #recent_posts
      @include span-columns(2 omega, 4)

  #categories
    @include span-columns(4, 4)
    border: 1px solid $border-color
    margin: 1px 0px 1px 0px
    background-color: #fff
    h1
      color: #000
      font-size: 1.5em
    h2
      border-top: 1px solid #fff
      text-indent: 3px
      color: #000
      font-size: 1.5em
      line-height: 1.1
      background-color: #bbb
      a
        display: block
        +link-colors(#333, #fff, #fff, #333, #fff)  

#footer
  @include span-columns(12,12)
  margin: 1px 0px 1px 0px
  border: 1px solid $border-color

=category($name,$color1)
  #header_guide
    .category
      h2.#{$name}
        background-color: $color1 
  #main
    .article.#{$name}
      h2
        background-color: $color1

      h3
        background-color: #eeeeee
      .inner
        h4
          border-left: solid 7px $color1
          border-bottom: dashed 1px $color1
        h5
          border-bottom: double 3px $color1
        h6
          border-bottom: dashed 1px $color1
          &:before
            color: $color1
  #side
    #top_category
      h2.#{$name}
        background-color: $color1 
    #categories
      h2.#{$name}
        background-color: $color1 


@include category("Science",$Science-color)
@include category("Art",$Art-color)
@include category("Game",$Game-color)
@include category("Language",$Language-color)
@include category("SocialActivities",$SocialActivities-color)
